<h1 class="new-image-header">Add New Image</h1>

<div class="new-image-form">
  <%= form_with scope: :image, url: images_path, local: true do |form| %>
    <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@image.errors.count, "error") %> prohibited
        this image url from being saved:
      </h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      <%= form.label  "Image URL" %>
      <%= form.text_field :url %>
    </p>

    <p>
      <%= form.label  "Image Tags" %>
      <%= form.text_area :tag_list %>
    </p>

    <p>
      <%= form.submit %>
    </p>

    <% end %>
  </div>
